<div class="list-filter">
  <div class="and-connector">AND</div>
  <li class="list-cutter-filter section">
    <div class="list-cutter-filter-type">
      <span class="remove-filter">Delete</span>
      <span class="where-label">Where</span>
      <select class="filter-by" name="filter-type">
        <option value="filter-empty">Filter</option>
        <% rules_for_form.each do |rule_option| %>  
          <option value="filter-<%= rule_option[:class].code %>" <%= filter_selected?(chosen_rule, rule_option) %>><%= rule_option[:label] %></option>
        <% end %>
      </select>
    </div>
    <ul class="list-cutter-filter-value">
      <% if chosen_rule %>
          <li class="rule-choice choose-<%= chosen_rule.class.code %>">
            <% cache @list.id, @list.updated_at do %>
              <%= render :partial => "admin/list_cutter/rule_template", :locals => {:list => list, :rule => chosen_rule, :f => f} %>
            <% end %>
          </li>
      <% end %>
    </ul>
    <div class="clear"></div>
  </li>
</div>