<div id="pushes_list" class="list_group_item">
  <h3 class="tooltip" data-tip="pushes-tip">Pushes</h3>
  <% @pushes.each do |push| %>
    <div class="push clearfix" id="push-<%= push.id %>">
      <%= link_to push.name, admin_movement_push_path(@movement, push) %>
      <%= link_to "Rename", edit_admin_movement_push_path(@movement, push), :class => 'right' %>
    </div>
  <% end %>
  <div class="right_buttons">
    <%= link_to "Add a push", new_admin_movement_push_path(:movement_id => @movement, :campaign_id => @campaign), :class => 'add-push button' %>
  </div>
  <%= will_paginate @pushes %>
  <%#= page_entries_info @pushes %>
</div>
