<h2><%= "Donation email preferences for #{@user.email}" %></h2>
<%= form_for @donation, :url => admin_movement_donation_path(@movement, @donation), :method => :put do |f| %>
  <fieldset>
    <%= f.check_box :notify_of_payment_error, checked: @donation.notify_of_payment_error? %>
    <%= f.label :notify_of_payment_error %>
  </fieldset>

  <fieldset>
    <%= f.check_box :notify_of_recurring_payment_error, checked: @donation.notify_of_recurring_payment_error? %>
    <%= f.label :notify_of_recurring_payment_error %>
  </fieldset>

  <fieldset>
    <%= f.check_box :notify_of_donation_creation, checked: @donation.notify_of_donation_creation? %>
    <%= f.label :notify_of_donation_creation %>
  </fieldset>

  <fieldset>
    <%= f.check_box :notify_of_recurring_payment, checked: @donation.notify_of_recurring_payment? %>
    <%= f.label :notify_of_recurring_payment %>
  </fieldset>

  <fieldset>
    <%= f.check_box :notify_of_expiring_credit_card, checked: @donation.notify_of_expiring_credit_card? %>
    <%= f.label :notify_of_expiring_credit_card %>
  </fieldset>

  <%= f.submit "Update" %>
<% end %>

<% if @donation.active? %>
  <p><%= link_to "Deactivate donation", deactivate_admin_movement_donation_path(params[:movement_id], @donation.id), :confirm => "Are you sure you would like to deactivate this recurring donation?" %></p>
<% else %>
  <p>This donation is no longer active.</p>
<% end %>
